<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.AdminDao">
    <select id="findByCode" parameterType="string" resultType="admin">
    select * from admin where username=#{username}
    </select>

<insert id="addOne" parameterType="admin">
    insert into admin (username, password) values (#{username},#{password})
</insert>

    <update id="update" parameterType="admin">
        update admin
        <set >
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="roles != null">
                roles = #{roles},
            </if>
            <if test="imgPath != null">
                imgPath = #{imgPath},
            </if>
        </set>
        where id=#{id};
    </update>

</mapper>